.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.cartTitle {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.cartItems {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cartItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.cartItemTitle {
  font-size: 1rem;
  font-weight: 600;
}

.cartItemPrice {
  font-size: 1rem;
  font-weight: 600;
}

.cartItemButton {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.cartItemButton:hover {
  background-color: #f0f0f0;
}

.cartTotal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 20px;
}
